@page "/reservations/complete"
@using BlazorDemo.Data
@inject NavigationManager navManager

<h3>ご予約申込の完了</h3>

<a>
    予約申込が完了しました。<br>
    確認のメールをお送りしましたので、予約内容を必ずご確認ください。<br>
    お送りしたメールのURLから予約の照会・キャンセルをすることができます。<br>
</a>

@code {

}

